.App {
  text-align: center;
  overflow: hidden;
}

.App * {
  display: block;
}

.loading-container {
  position: absolute;
  background-color: #fff;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Baskervville', serif;
}
